/* ==========================================================================
Custom styles
========================================================================== */

h1, h2, h3, h4, h5, h6, p, span {
   margin: 0;
}

textarea {
   resize: none;
}

ul {
   padding: 0;
   margin: 0;
}

li {
   list-style: none;
}

a, a:focus, a:active, a:visited, button, select, input[type="submit"], input[type="button"], input[type="text"]:focus, input[type="file"]:focus {
   outline: none;
   text-decoration: none;
}

.register-form {
  border: 1px solid silver;
  border-radius: 5px;
  padding: 20px;
}
