/* ==========================================================================
Custom styles
========================================================================== */

@font-face {
  font-family: 'righteous';
  src: url('../fonts/righteous/RighteousRegular.eot');
  src: url('../fonts/righteous/RighteousRegular.eot') format('embedded-opentype'),
       url('../fonts/righteous/RighteousRegular.woff2') format('woff2'),
       url('../fonts/righteous/RighteousRegular.woff') format('woff'),
       url('../fonts/righteous/RighteousRegular.ttf') format('truetype'),
       url('../fonts/righteous/RighteousRegular.svg#RighteousRegular') format('svg');
}

@font-face {
  font-family: 'roboto-light';
  src: url('../fonts/roboto/light/RobotoCondensedLight.eot');
  src: url('../fonts/roboto/light/RobotoCondensedLight.eot') format('embedded-opentype'),
       url('../fonts/roboto/light/RobotoCondensedLight.woff2') format('woff2'),
       url('../fonts/roboto/light/RobotoCondensedLight.woff') format('woff'),
       url('../fonts/roboto/light/RobotoCondensedLight.ttf') format('truetype'),
       url('../fonts/roboto/light/RobotoCondensedLight.svg#RobotoCondensedLight') format('svg');
}

@font-face {
  font-family: 'roboto-regular';
  src: url('../fonts/roboto/regular/RobotoCondensedRegular.eot');
  src: url('../fonts/roboto/regular/RobotoCondensedRegular.eot') format('embedded-opentype'),
       url('../fonts/roboto/regular/RobotoCondensedRegular.woff2') format('woff2'),
       url('../fonts/roboto/regular/RobotoCondensedRegular.woff') format('woff'),
       url('../fonts/roboto/regular/RobotoCondensedRegular.ttf') format('truetype'),
       url('../fonts/roboto/regular/RobotoCondensedRegular.svg#RobotoCondensedRegular') format('svg');
}

@font-face {
  font-family: 'ptsansregular';
  src: url('../fonts/pt-sans/regular/ptsansregular.eot');
  src: url('../fonts/pt-sans/regular/ptsansregular.eot') format('embedded-opentype'),
       url('../fonts/pt-sans/regular/ptsansregular.woff2') format('woff2'),
       url('../fonts/pt-sans/regular/ptsansregular.woff') format('woff'),
       url('../fonts/pt-sans/regular/ptsansregular.ttf') format('truetype'),
       url('../fonts/pt-sans/regular/ptsansregular.svg#ptsansregular') format('svg');
}

h1, h2, h3, h4, h5, h6, p, span {
   margin: 0;
}

textarea {
   resize: none;
}

ul {
   padding: 0;
   margin: 0;
}

li {
   list-style: none;
}

img {
  max-width: 100%;
}

a,
a:hover,
a:focus,
a:active,
a:visited,
button,
select,
input[type="submit"],
input[type="button"],
input[type="text"]:focus,
input[type="file"]:focus {
 outline: none;
 text-decoration: none;
}

a {
  cursor: pointer;
}

h1, h2 {
  margin-bottom: 10px;
}

header {
  .navbar-default {
    position: fixed;
    width: 100%;
    z-index: 999;
  }

  i.fa-bars {
    font-size: @font-size-large;
    line-height: 34px;

    &:active {
      background-color: transparent;
    }
  }

  .navbar-brand {
    margin-left: 0;
  }
}

.navbar-categories {
  background-color: #37474e;
  padding: @padding-base-vertical 0;
  position: fixed;
  top: 62px;
  left: 0;
  width: 15%;
  height: 100%;
  z-index: 9999;

  li {
    padding: @padding-base-vertical @padding-large-horizontal;

    .category {
      color: #d3dce0;

      span {
        margin-right: @padding-base-horizontal - 7;
      }
    }
  }
}

.product-row {
  background-color: @gray-lighten;
  padding: 20px;
  overflow: hidden;
}

.product-wrapper {
  background-color: @gray-lighten;
  padding: 20px;
  margin: 0 15px;
  overflow: hidden;
}

.product {
  max-width: 100%;
}

.register-form {
  background-color: @gray-lighten;
  padding: 20px;

  img {
    max-width: 70%;
    margin-bottom: 20px;
  }
}

#demo {
  margin: 0 15px;
}

#owl-demo .item img {
  display: block;
  max-width: 100%;
  height: auto;
}

#owl-demo .item{
  margin: 3px;
}

.product-image,
.product-description {
  margin: 40px 0;
}

#perfil-usuario {
  margin-top: 20px;
  margin-bottom: 20px;
}

#following li {
  display: inline-block;
}

.user-data-profile,
.user-products {
  padding-top: 20px;
  padding-bottom: 20px;
}

#products-highlights .product-item {
  max-width: 100%;
  height: 234px;
}

.dropdown .avatar {
  margin-right: 5px;
  max-width: 35px;
}

.dropdown a.dropdown-toggle {
  padding: @padding-large-vertical;
}

.footer {
  background-color: darken(@gray-default, 10%);
  overflow: hidden;
  margin-top: 20px;
  padding: (@padding-large-vertical + 10px) 0;

  .subscribe-form {
    input {
      max-width: 55%;
    }
  }

  h4,
  .receive-information {
    margin-bottom: 15px;
  }

  .data-company-list {

    li {
      margin-bottom: 5px;
    }

    i.fa {
      color: @brand-primary;
    }
  }

  .social-networks-list {

    .link {
      color: @gray;

      &:hover {
        color: darken(@brand-primary, 10%);
      }
    }

    i.fa {
      display: table-cell;
      font-size: @font-size-h1;
      padding-right: 5px;
      vertical-align: middle;
    }

    .social-network-name {
      display: table-cell;
      vertical-align: middle;
    }

  }
}

.header-hidden {
  height: 82px;
}
